* {
  box-sizing: border-box; }

@-webkit-keyframes fadein {
  from {
    margin-top: 5px;
    opacity: 0; }
  to {
    margin-top: 0;
    opacity: 1; } }

@keyframes fadein {
  from {
    margin-top: 5px;
    opacity: 0; }
  to {
    margin-top: 0;
    opacity: 1; } }

body {
  margin: 0;
  background: #FEFEFE;
  color: #333;
  -webkit-animation: fadein 0.7s;
  animation: fadein 0.7s; }
  body h1, body h2, body h3 {
    font-family: 'Montserrat', sans-serif;
    color: black; }
  body p {
    line-height: 1.58em; }

.container {
  margin: 0 auto;
  width: 1020px; }

.left {
  float: left;
  width: 470px;
  margin: 20px; }

.right {
  float: left;
  width: 470px;
  margin: 20px; }

header {
  height: 300px;
  padding: 75px 300px 0 200px; }
  header aside {
    float: right;
    font-style: oblique; }
  header p:first-child::first-letter {
    color: white;
    background: red; }
  header p::first-letter {
    padding: 5px;
    color: black; }
  header p {
    letter-spacing: 10px;
    font-size: 3em;
    line-height: 1.2em;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0; }
