* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  background: #FEFEFE;
  width: 560px;
  color: #333; }
  body h1 {
    color: black; }
  body p {
    font-size: 1.2em;
    line-height: 1.61em; }
